* {
  margin: 0;
  padding: 0;
}
.background {
  width: 80%;
  border-radius: 23px;
  padding: 120px 27px 19px 62px;
  background: #979da1;
  margin: 227px auto;
}

.btn-primary {
  position: absolute;
  margin-left: -45px;
  text-align: center;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 130px;
}
.btn-secondary {
  margin-right: 472px;
}
.btn {
  background: url(Project.png);
  background-repeat: no-repeat;
  border-radius: 87px;
  background-position: center;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 25px;
  padding-top: 10px;
  text-decoration: none;
  font-size: 19px;
  background-size: cover;
  color: gainsboro;
  height: 11px;
  font-family: fangsong;
}
